@import url(https://fonts.googleapis.com/css?family=Play);

body {
  background-color: black;
  font-family: "Play";
  text-align: center;
  color: white;
  text-decoration: none;
}

.header {
  font-size: 60px;
}

.menu {
  line-height: 50px;
  font-size: 30px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.menu a:hover {
  opacity: 0.7;
  color: aquamarine;
}
