@import url(https://fonts.googleapis.com/css?family=Play);

body {
  background-color: black;
  font-family: "Play";
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer {
  opacity: 0.5;
  padding-top: 100px;
}

.header {
  font-size: 3em;
  padding: 0.5em;
  color: white;
  max-width: 38rem;
  margin: auto;
  padding: 2rem;
}

h1{
  font-family: 'Play';
}

.menu {
  font-size: 2rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.menu a:hover {
  opacity: 0.7;
  color: aquamarine;
}

.add {
  font-size: 2em;
  padding: 5em;
  color: white;
  box-sizing: border-box;
}

.usage p{
  font-size: 18px;

}
.bash{
  font-size: 18px;
}

.form{
  color: white;
  max-width: 38rem;
  margin: auto;
}