<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <title>frgt.dev</title>
  </head>

  <body>
    <div class="header">
      <a href="https://github.com/cobanov/frgt">
        <img
          src="https://github.com/cobanov/frgt/blob/main/static/frgtblack.png?raw=true"
          alt=""
        />
      </a>
      <p>super-easy cheatsheets for developers on terminal</p>
    </div>
    <div class="menu">
      <a href="https://github.com/cobanov/ ">
        <i class="fa-brands fa-github"></i> check out the project<br />
      </a>
      <a href="/add">
        <i class="fa-solid fa-circle-plus"></i> add a cheat sheet <br />
      </a>
    </div>
    <div class="footer">Cobanov - 2022</div>
  </body>
</html>
