<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <title>frgt.dev</title>
  </head>

  <body>
    <div class="header">
      <a href="/">
        <img
          src="https://github.com/cobanov/frgt/blob/main/static/frgtblack.png?raw=true"
          alt=""
        />
      </a>
      <p>
        super-easy cheatsheets for developers on terminal without any
        installation!
      </p>

      <div class="menu">
        <a href="https://github.com/cobanov/ ">
          <i class="fa-brands fa-github"></i> check out the project<br />
        </a>
        <a href="/add">
          <i class="fa-solid fa-circle-plus"></i> add a cheat sheet <br />
        </a>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="features">
      <div class="usage">
        <h1>Usage</h1>
        <p>
          You can type anything <br />
          e.g. docker, bash or python
        </p>
        <div class="ui basic massive label">
          <i class="terminal icon"></i> curl frgt.dev/tmux
        </div>
      </div>
      <div class="ui inverted section divider"></div>

      <div class="bash">
        <h1>Bash</h1>
        <p>Install frgt.sh and get cheatsheets faster!</p>

        <div class="ui basic massive label">
          <i class="terminal icon"></i> frgt docker
        </div>
        <div class="ui massive inverted segment" name="codes">
          <div class="codes">
            <p>
              chmod u+x frgt.sh<br />
              alias frgt='/path/to/frgt.sh'
            </p>
          </div>
        </div>
        <a href="https://github.com/cobanov/frgt/blob/main/frgt.sh">
          <div class="ui massive inverted button">
            <i class="download icon"></i> Download bash script
          </div>
        </a>
      </div>
      </div>
    </div>

    <div class="footer">Cobanov - 2022</div>
  </body>
</html>
